<div class="banner " style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://makia.la/wp-content/uploads/2018/03/piqueos-amigos-portada.jpg)">
  <div class="container ">
    <h1 class="text-center">La buena comida hay que probarla,<br> <strong> NO tirarla </strong></h1>
  </div>
</div>
<div class="position-relative">
  <div class="botones d-flex justify-content-center">
     
    <%= link_to "Sumate a Platón", shops_path,  class:" mx-4 botonn text-center"%>
    <%= link_to "Registrá tu local", shops_path,  class:" mx-4  botonn text-center"%>
  
  </div>
</div>