<div class="banner " style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(assets/banner.png)">
  <div class="titulo">
        <h1> <strong> La buena comida hay que probarla, no tirarla. </strong> </h1>
        <p>Vinimos para ayudarte a ahorrar más y contaminar menos.</p>
      </div>
  </div>
<div class="position-relative">
  <div class="botones d-flex">
    <%= link_to "Sumate a Platón", shops_path,  class:"blanco mx-4 botonn text-center"%>
    <%= link_to "Registrá tu local", shops_path,  class:"local mx-4  botonn text-center"%>
  </div>
</div>