<div class="banner " style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/ayegora/image/upload/v1597183115/banner_tu2wcu.png)">
  <div class="titulo">
        <h1> <strong> La buena comida hay que probarla, no tirarla. </strong> </h1>
        <p>Vinimos para ayudarte a ahorrar más y contaminar menos.</p>
      </div>
  </div>
<div class="position-relative">
  <div class="botones d-flex">
    <%= link_to "Explorá Platón", shops_path,  class:"blanco mx-4 botonn text-center"%>
  <button type="button" class="local mx-4  botonn text-center" data-toggle="modal" data-target="#exampleModal">
    Registra tu local
  </button>
  </div>


  <%# MODAL!!!!!!!!!!!!!!!!!!!! %>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded bg-warning">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registra tu local en Platón</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="form-inputs">
        <form>
          <div class="form-group">
            <label for="exampleInputPassword1">Ingresa el nombre de tu local:</label>
            <input type="text" class="form-control" id="exampleInputPassword1"placeholder="Salva El Planeta">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Dirección:</label>
            <input type="text" class="form-control" id="address-input" placeholder="Ej: Calle 43 771, La Plata, Argentina">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Numero de teléfono:</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Ej: 011-1578525">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Email:</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="salvaelplaneta@platones.com">
          </div>
          <button type="submit" class="btn btn-primary">Enviar datos</button>
        </form>
       </div>
      </div>
    
      </div>
    </div>
  </div>
</div>
</div>