<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/df/fc/a7/dffca74282382587f9b3d221a5c6593c.jpg)">
  <div class="container">
    <h1 class="text-center">Platón</h1>
    <p class="text-center">Panza llena, planeta contento</p>
  </div>
</div>