<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path("platonn.jpg", :width => 100, :height => 200) %> )">
  <div class="container ">
    <h1 class="text-center">La comida NO se tira</h1>
  </div>
</div>