<div class="d-flex align-items-end align-items-md-center px-0 px-md-5 pb-3" style="height:60vh; background-size:cover; background-image: linear-gradient(-270deg, rgba(0,0,0,0.4),rgba(255,255,255,0.1)), url(https://res.cloudinary.com/ayegora/image/upload/v1597183115/banner_tu2wcu.png)">
   <div class="d-flex justify-content-center justify-content-md-start">
      <div class="mx-0 mx-md-5 w-100 w-sm-50 w-md-25">
        <h1 class="text-center text-md-left m-0 text-white mb-4 mb-md-4"><strong> La buena comida hay que probarla, no tirarla. </strong></h1>
        <p class="h5 text-center text-md-left font-weight-lighter text-white mb-5 mb-md-4">Vinimos para ayudarte a ahorrar más y contaminar menos.</p>
        <div class="d-flex flex-column flex-md-row px-4 p-md-0"> 
          <%= link_to "Explorá Platón", shops_path,  class:"bg-white px-2 p-1 py-md-3 px-md-4 border-primary rounded-pill text-center m-0 mb-1 mb-md-0 mr-md-3 mt-5 mt-md-0 h5 text-decoration-none"%>
          <%= link_to "Registá tu local", shops_path,  class:"bg-primary d-none d-md-block px-2 p-1 py-md-3 px-md-4 border-white text-white rounded-pill text-center m-0 mr-md-3 h5 text-decoration-none", data: { toggle:"modal", target:"#exampleModal" } %>
        </div>
      </div>
   </div>
</div>

      <%= link_to "Registá tu local", shops_path,  class:"bg-primary d-block d-md-none px-2 p-1 p-md-3 border-white text-white rounded-pill text-center mt-3 mx-3 mr-md-3 h5 text-decoration-none", data: { toggle:"modal", target:"#exampleModal" } %>


  <%# MODAL!!!!!!!!!!!!!!!!!!!! %>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded bg-warning">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registra tu local en Platón</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="form-inputs">
        <form>
          <div class="form-group">
            <label for="exampleInputPassword1">Ingresa el nombre de tu local:</label>
            <input type="text" class="form-control" id="exampleInputPassword1"placeholder="Salva El Planeta">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Dirección:</label>
            <input type="text" class="form-control" id="address-input" placeholder="Ej: Calle 43 771, La Plata, Argentina">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Numero de teléfono:</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Ej: 011-1578525">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Email:</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="salvaelplaneta@platones.com">
          </div>
          <button type="submit" class="btn btn-primary">Enviar datos</button>
        </form>
       </div>
      </div>
    
      </div>
    </div>
  </div>
