<div class="banner " style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(assets/banner.png)">
  <div class="container">
    <div class="position-relative">
      <div class="titulo d-flex-column justify-content-start">
        <h1 class="text-center"> <strong> La buena comida hay que probarla, no tirarla </strong> </h1>
        <p>Trade houses with people all over the world and feel like a local wherever you are</p>
      </div>
    </div>
  </div>
</div>
<div class="position-relative">
  <div class="botones d-flex">
    <%= link_to "Sumate a Platón", shops_path,  class:"blanco mx-4 botonn text-center"%>
    <%= link_to "Registrá tu local", shops_path,  class:"mx-4  botonn text-center"%>
  </div>
</div>