<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://makia.la/wp-content/uploads/2018/03/piqueos-amigos-portada.jpg)">
  <div class="container ">
    <h1 class="text-center">La comida NO se tira</h1>
    <%= link_to "Sumate", shops_path,  class:"btn btn-lg btn-outline-primary rounded botoningreso"%>
  </div>
</div>