<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path "platon" %>);">
  <div class="container">
    <h1 class="text-center">Platon</h1>
    <p class="text-center">Panza llena, planeta contento</p>
  </div>
</div>