<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/df/fc/a7/dffca74282382587f9b3d221a5c6593c.jpg)">
  <div class="container">
    <h1 class="text-center p-4">¡Si es comida no se tira!</h1>
    <div class="text-center">
      <%= link_to "Sumate", new_user_session_path,  class:"btn btn-lg btn-primary rounded"%>
    </div>
  </div>
</div>