<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://gm1.ggpht.com/34ko5F7LEIRyClZ0dZ8IJwJCcgxb5_dJt27heDzSw5-5d3Tc5AjRWPpwrKsT9R4y6O4lKKG0jIZbzOhPplo9v5vMdu6_vb9ZcjpjmKjRkcKj6hUc4r0nUtre3OCEKnTAgJQ7WTqCVanpNrPYr0InWwABjTed2n-J_o0FtKh6966FlnCGx98Pf2KenjAh-0w-bmZwC7Mipy7II7XVD3ICCOSBuf2TTV_3q6CdJ7tHgt7MW3_5NyRF3dEAVU-3PsBKfkCfPSVp2N43fEFEwwAxbf1lmwve_t6jxTGta2fPQM7ae7ls2ubN-MFeJbaqYY9RZeGt71o7iwUcf16pjiY-c36oJxLBmC2jaLhB5gzYVpskY3a5wfMmDRQCTrpgsisbNrUypYQ30Nrfg_SuKS13YcSchO5SayQFzMJCfYYZRfYZdcb8G0EVCiaRfvtfQn2FHSeBfY3BVXDz9WbwQOrRkm3y6hXZxFtc1bheUZhO__dhpG0OqIsVrPhV9btbU0u23ifyjSGNyYpojZg5Ygrd2w0n2RJg3Ux_l5wpBg1WJQ4AcmO0RTtoWQshd29gJKpAY-mSXPX9rH117kfKwOyOqamb6M9PPF5Dw1LPSfOlWL6vTW4m2cVUPHvZniUVfLWwP5HaH4Sl4PcBeK-lD-FlzNMS8rMHYcbrvg4kWaSq_-yef9TmSXvmSOVSkVQVwgYQhCgymXdxfqLt_AvUPlagUYOmwCGURaiqcEVxwW2tAFbZyubeS7I_2c4iJ7WJbwFNuVE=s0-l75-ft-l75-ft);">
  <div class="container">
    <h1 class="text-center">Platon</h1>
    <p class="text-center">Panza llena, planeta contento</p>
  </div>
</div>