<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://igeretxecatering.com/wp-content/uploads/2015/09/banner-comida-a-domicilio-ereaga-catering.jpg)">
  <div class="container">
    <h1 class="text-center">Platon</h1>
    <p class="text-center">Panza llena, planeta contento</p>
  </div>
</div>