<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://benditochef.cl/sanoyrico/wp-content/uploads/2017/12/elementos_1-banner-comida.png">
  <div class="container">
    <h1 class="text-center">Platon</h1>
    <p class="text-center">Panza llena, planeta contento</p>
  </div>
</div>