
<div class="container rounded bg-white p-4">
  <h3>Muchas Gracias!</h3>
  <div>
    <img class="mt-4 mb-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTRmYdiKEG8rlqSJPQ0KF5CpS7dBOHcX4rvgA&usqp=CAU" alt="">
  </div>
  <h6><%= "#{current_user.first_name}, su compra se ha realizado con éxito" %></h6>
</div>
