<%= render 'shared/banner' %>
<h3 class="text-center">Como pedir</h1>
<p class="text-center">lorem-lorem-lorem-lorem-lorem</p>
<div class="container">
  <div class="cards">
   
    <div class="card_product"> 
      <div class="card-img-top position-relative">
        <div class="heart">
          <i class="fas fa-heart"></i>
        </div>
        <%= cl_image_tag("mojito_baggco", height:300, width:300, crop: :fill) %>
        <div class="price">
          <p class="m-0">$100</p>
          <div class="offer">
            <h6>$50</h6>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <h4>Confiteria Pipo</h4>
        <p class="small m-0">Bahia Blanca 5551</p>
      </div>
    </div>
  
    
    
    <div class="card_product"> 
      <div class="card-img-top position-relative">
        <div class="heart">
          <i class="fas fa-heart"></i>
        </div>
        <%= cl_image_tag("mojito_baggco", height:300, width:300, crop: :fill) %>
        <div class="price">
          <p class="m-0">$100</p>
          <div class="offer">
            <h6>$50</h6>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <h4>Confiteria Pipo</h4>
        <p class="small m-0">Bahia Blanca 5551</p>
      </div>
    </div>
   

   
    <div class="card_product"> 
      <div class="card-img-top position-relative">
        <div class="heart">
          <i class="fas fa-heart"></i>
        </div>
        <%= cl_image_tag("mojito_baggco", height:300, width:300, crop: :fill) %>
        <div class="price">
          <p class="m-0">$100</p>
          <div class="offer">
            <h6>$50</h6>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <h4>Confiteria Pipo</h4>
        <p class="small m-0">Bahia Blanca 5551</p>
      </div>
    </div>
 
  </div>
</div>


