.banner {
  background-size: cover;
  background-position: center;
  padding: 2rem;
  height: 40vh;
}

.botones {
 position: absolute;
 justify-content: center;
 top: -58px;
 border-color: white;
 width: 100%;
 flex-direction: column;
 max-width: 80%;
 margin: auto;
 left: 0;
 right: 0;
}
.botonn {
  border-radius: 50px;
  border: 2px solid white;
  font-size: 12px;
  margin:10px auto;
  padding: 10px;
  max-width: 300px;
  background-color:#0A978E;
  font-family: $headers-font;
  color: white;
  text-decoration: none;
  margin-right: 0px;
}
.botonn:hover {
  text-decoration: none;
  background-color:#88cfc9;
}
.banner h1 {
  margin-top: 90px;
  color: white;
  text-shadow: 1px 1px 2px white;
  font-size: 24px;
}



.banner p {
  font-size: 8px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(226, 223, 223, 0.2);
}

@media (min-width: 576px) {
  .banner {
    padding: 4rem;
    h1 {
      font-size: 44px;
      margin: 0;
    }
    p {
      font-size: 24px;
      margin-top: 20px;
    }
    height: 710px;
  }

  .botones {
    color: transparent;
    position: relative;
    top: -250px;
    align-items: center;
    justify-content: center;
    bottom: auto;
    //left: auto;
    // max-width: 100%;
    // width: 100%;
    flex-direction: row;
  }
  
  .botonn {
    border-radius: 50px;
    font-size: 22px;
    min-width: 220px;
    max-width: 10000px;
    font-family: $headers-font;
    padding: 4px 20px;
    background-color: transparent;
  }
  .blanco{
    background-color: white;
    color: $primary;
  }
  .titulo{
    position: relative;
    top: 100px;
    bottom: auto;
  }
}

// @media (min-width: 768px) {
//   .banner {
//     padding: 4rem;
//     height: 70vh;
//     h1 {
//       font-size: 48px;
      
//     }
//     p {
//       font-size: 38px;
      
//     }
//   }
//   .blanco{
//     background-color: white;
//     color: $primary;
//   }
//   .titulo{
//     position: absolute;
//     top: 90px;
//     left: -250px;
//     width: 50%;
//   }
// }

// / Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }
// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }
// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }
// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }