

.icon-categories {
    background-color: #fff;
    border-radius: 16px;
    margin-top: -20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    padding: 4px;
    width: 300px ;
    overflow-x: scroll;
   
}

.category-item  {
  text-decoration: none;
  img {
    width: 30px;
    height: 30px;
    margin-left: 4px;
    margin-right: 4px;
    transition: transform .2s ease;
  }
  &:hover {
    text-decoration: none;
    font-weight: bold;
    img {
      transform: scale(1.2);
    }

  }
}


#p-icons {
  font-size: 10px;
  margin-bottom: 0px;
  text-align: center;
  color: black;
  margin-bottom: 4px;
}


@media (min-width: 700px) {

  .icon-categories {
    background-color: #fff;
    border-radius: 16px;
    margin-top: -50px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    padding: 12px;
    width: auto;
   overflow-x: hidden;
}
  .category-item  {
    text-decoration: none;
    img {
      width: 70px;
      height: 70px;
      margin-left: 12px;
      margin-right: 12px;
      transition: transform .2s ease;
    }

    &:hover {
      text-decoration: none;
      font-weight: bold;
      img {
        transform: scale(1.2);
      }

    }
  
    #p-icons {
      text-decoration: none;
      color: black;
      margin-bottom: 8px;
      font-size: 16px !important;
    }
  
  }
}