

.icon-categories {
    width: 256px;
}

.single-icon {
  width: 40px;
  height: 40px;
  text-decoration: none;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 12px;

}

// .single-icon:hover {
//   width: 40px;
//   height: 40px;
//   text-decoration: none;
//   margin-left: 4px;
//   margin-right: 4px;
//   margin-top: 12px;

// }


#p-icons {
  font-size: 10px;
  margin-bottom: 0px;
  text-align: center;
  color: black;
  margin-bottom: 4px;
}