.thumbnail {
  height: 150px;
  width: 100px;

}
.waste{
  width: 300px;
  height: 250px;
}

h1 {
  font-size: 28px;
}

@media (min-width: 576px) {
  .thumbnail{
  height: 250px !important;
  width: 150px !important;
  }
  .waste{
    height: 700px;
    width: 850px;
  }
  h1 {
    font-size: 38px;
  }
}

