.thumbnail {
  height: 100px;
  width: 100px;

}
.waste{
  width: 250px;
  height: 250px;
}

h1 {
  font-size: 28px;
}

@media (min-width: 576px) {
  .thumbnail{
  height: 300px;
  width: 300px;
  }
  .waste{
    height: 700px;
    width: 700px;
  }
  h1 {
    font-size: 38px;
  }
}

