.banner-index {
  background-size: cover;
  background-position: center;
  padding: 2rem;
  height: 20vh;
  color:white;
  h1{
    font-size: 20px;
    padding-top: 4px;
  }
}

@media (min-width: 700px) {
  .banner-index {
    display: flex;
    align-items: center;
  
    height: 50vh;
    h1 {
      font-size: 58px;
      margin: 0;
      font-weight: bolder;
      padding-bottom: 5px;
    }
    p {
      font-size: 18px;
      margin-top: 20px;
    }
    
  }
}