@media (min-width: 576px) {
  .platonicos{
    font-size: 25px;
  }
  .platonicos h2 {
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;;
  }
  .counter{
    font-size: 99px;
  }
  .foto{
    height: 400px;
  }
}