.navbar-lewagon {
  justify-content: space-between;
  font-size: 24px;
  font-weight: bold;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
