.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.botonarriba{
  width: 180px;
  height: 44px;
  font-size: 18px;
  border-radius: 42px;
  color: $primary;
  background-color: white;
}
.carritocel{
    position: relative;
    
    left: 55px ;
    // max-width: 100%;
    // width: 100%;
    flex-direction: row;
}

@media (min-width: 700px) {
  .carritocel{
    display: none;
  }
}
