.contiene-todo{
  padding: 0;
  max-width: 50%;
  border-radius: 20px;
}
p {
  font-size: 30px;
}

.contenedor-imagen{
 min-height: 30vh;
 background-color: #83CEB3;
 display: flex;
 justify-content: center;
 border-top-left-radius: 20px;
 border-top-right-radius: 20px;;
  .check-image{
  max-width: 40%;
  max-height: 40%;
  }
}

.contenedor-texto{
  padding-top: 20px;
  min-height: 30vh;
}
.botoncitooo{
  background-color: #83CEB3;
  border: 0px;
}
